<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="QiQihar.IDao.SeatMapper" >
  <!--
  <resultMap id="BaseResultMap" type="QiQihar.domain.Seat" >
    <id column="seatid" property="seatid" jdbcType="INTEGER" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="classroom" property="classroom" jdbcType="VARCHAR" />
    <result column="seatnumber" property="seatnumber" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    seatid, location, classroom, seatnumber, state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from seat
    where seatid = #{seatid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from seat
    where seatid = #{seatid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="QiQihar.domain.Seat" >
    insert into seat (seatid, location, classroom,
      seatnumber, state)
    values (#{seatid,jdbcType=INTEGER}, #{location,jdbcType=VARCHAR}, #{classroom,jdbcType=VARCHAR},
      #{seatnumber,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="QiQihar.domain.Seat" >
    insert into seat
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="seatid != null" >
        seatid,
      </if>
      <if test="location != null" >
        location,
      </if>
      <if test="classroom != null" >
        classroom,
      </if>
      <if test="seatnumber != null" >
        seatnumber,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="seatid != null" >
        #{seatid,jdbcType=INTEGER},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="classroom != null" >
        #{classroom,jdbcType=VARCHAR},
      </if>
      <if test="seatnumber != null" >
        #{seatnumber,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="QiQihar.domain.Seat" >
    update seat
    <set >
      <if test="location != null" >
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="classroom != null" >
        classroom = #{classroom,jdbcType=VARCHAR},
      </if>
      <if test="seatnumber != null" >
        seatnumber = #{seatnumber,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where seatid = #{seatid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="QiQihar.domain.Seat" >
    update seat
    set location = #{location,jdbcType=VARCHAR},
      classroom = #{classroom,jdbcType=VARCHAR},
      seatnumber = #{seatnumber,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR}
    where seatid = #{seatid,jdbcType=INTEGER}
  </update>
  -->
</mapper>